/*-----------------------------------------------------------------------------------

    Template Name: Funds - Minimal Portfolio Template
    Description: This is html5 template
    Author: themedream1
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1. Template default css (css/shortcode/default.css)
    2. Header css (css/shortcode/header.css)
    3. Slider css (css/shortcode/slider.css)
    4. Footer css (css/shortcode/footer.css)
    5. Blog css (css/shortcode/blog.css)
    6. Breadcrumb css (css/shortcode/breadcrumb.css)
    7. Portfolio css (css/shortcode/portfolio.css)
    8. Service css (css/shortcode/service.css)
    9. Testimonial css (css/shortcode/testimonial.css)
    10. Newsletter
    11. About us   
    12. Contact
    13. Shortcode
    14. Scrollup
    15. Modal

-----------------------------------------------------------------------------------*/

.slider > img {
    width: 100%;
}
.section-title {
    margin: auto auto 60px;
    width: 60%;
}
.section-title h2 {
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: uppercase;
}
/*............. 10. Newsletter   ................*/

.newsletter form.pstn input {
    position: relative;
}
.newsletter form input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #333;
    display: inline-block;
    float: left;
    font-size: 15px;
    height: 40px;
    padding-left: 20px;
    width: 100%;
    border: 1px solid #444444 ;
    position: relative;
    padding-right: 124px;
}
.newsletter form {
    overflow: hidden;
    position: relative;
}
.newsletter form button {
    background: #444444 none repeat scroll 0 0;
    bottom: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    overflow: hidden;
    padding: 0 27px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}
.newsletter form button:hover {
    background: #555 none repeat scroll 0 0;
}
.newsletter h2 {
    color: #333;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.newsletter > p {
    font-size: 20px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.pstn input::-webkit-input-placeholder {
    /* Chrome */
    
    color: #333;
    opacity: 1;
}
.pstn input::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #333;
    opacity: 1;
}
/*.... index-7 ...*/

.all-content {
    padding: 0 50px;
}
/*............. 11. About us   ................*/

.simpleLens-big-image-container > img {
    width: 100%;
}
.pro-img-tab-slider .item a img {
    display: block;
    padding: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.about-tab.tab-content {
    margin-bottom: 20px;
}
.pro-img-tab-slider.owl-theme .owl-controls .owl-nav div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    font-size: 20px;
    height: 30px;
    left: 0px;
    line-height: 27px;
    width: 30px;
}
.pro-img-tab-slider.owl-theme .owl-controls .owl-nav div.owl-next {
    left: auto;
    right: 0;
}
.pro-img-tab-slider.owl-theme .owl-controls .owl-nav div:hover {
    background: transparent none repeat scroll 0 0;
    color: #fff;
}
.about-text > h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.about-text > p span a {
    font-weight: bold;
}
.about-top.pro-about {
    margin-top: 35px;
}
.about-top.pro-about > h2 {
    font-size: 30px;
    margin-bottom: 45px;
    overflow: hidden;
    text-transform: capitalize;
}
.progress > span {
    color: #333;
    float: right;
    font-size: 14px;
    margin-top: -25px;
    font-family: "Lato", sans-serif;
}
.progress {
    background-color: #eee;
    border-radius: 0;
    box-shadow: none;
    height: 10px;
    margin-bottom: 50px;
    overflow: visible;
    position: relative;
}
.progress .lead {
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: normal;
    left: 0;
    position: absolute;
    text-transform: capitalize;
    top: -25px;
    z-index: 99;
}
.about-text-all .progress-bar {
  background-color: #444444 ;
  float: left;
  font-size: 12px;
  height: 100%;
  line-height: 20px;
  transition: width 0.6s ease 0s;
  width: 0;
}
.progress:last-child {
    margin-bottom: 0;
}
.how-work-are .section-title {
    margin: auto auto 20px;
}
.process-steps.process-5-steps .step {
    width: 20%;
}
.process-steps .step {
    float: left;
    padding-bottom: 50px;
    position: relative;
    text-align: center;
    transition: all 0.25s ease 0s;
}
.process-steps .step i {
  border: 2px dashed transparent;
  color: #444444 ;
  display: block;
  font-size: 70px;
  margin: 0 auto 25px;
  padding: 20px;
  transform: scale(0.65);
  transition: all 0.25s ease 0s;
}
.process-steps .step h5 {
    font-size: 20px;
    line-height: 26px;
    margin-top: -50px;
    transition: all 0.25s ease 0s;
}
.process-steps .step h5 span {
    display: block;
    transition: all 0.25s ease 0s;
}
.process-steps .step:hover h5 {
    margin-top: 0;
}
.process-steps .step:hover {
    padding-bottom: 0;
}
.process-steps .step:hover i {
    border-color: #333;
    font-size: 70px;
    transform: scale(1);
}
.meet-img-four img {
    width: 100%;
}
.meet-all-four {
    position: relative;
    overflow: hidden;
}
.meet-img-four {
    position: relative;
}
.meet-img-four > a::before {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 300ms ease-in-out 0s;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}
.meet-all-four:hover a::before {
    opacity: 0.5;
    visibility: visible;
}
.meet-icon-all-four {
  left: 0;
  margin: 0 auto;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  z-index: 999;
}
.meet-icon-four li {
  display: inline-block;
}
.meet-all-four:hover .meet-icon-all-four {
    opacity: 1;
}

.meet-icon-four a {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 40px;
}
.meet-icon-four a:hover {
    background-color: #fff;
    color: #333;
    border-radius: 50%;
}
.product-content-four {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: currentcolor #ddd #ddd;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-sizing: border-box;
    padding: 20px 0;
    transition: all 0.3s ease-out 0s;
    width: 100%;
}
.meet-all-four:hover h3 {
    color: #555;
}
.product-content-four > h3 {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 0.3s ease-out 0s;
    margin-bottom: 3px;
}
.product-content-four > p {
    color: #464646;
    font-size: 14px;
    text-transform: capitalize;
}
.single-counter i {
    border-radius: 100%;
    color: #444444 ;
    font-size: 50px;
    margin-bottom: 20px;
    overflow: hidden;
}
.single-counter h3 {
    color: #fff;
    font-size: 50px;
    margin: 0;
}
.single-counter p {
    color: #fff;
    font-size: 18px;
}
/*.. about us/pricing   ..*/

.single-pricing {
  border: 1px solid #ddd;
  margin-top: 60px;
  padding: 45px 0 25px;
  position: relative;
  transition: all 0.5s ease 0s;
}
.single-pricing .price {
  background-color: #f6f6f6;
  border: 4px solid #fff;
  border-radius: 50%;
  color: #333;
  height: 122px;
  left: 50%;
  padding: 40px 0;
  position: absolute;
  top: -61px;
  transform: translateX(-50%);
  width: 122px;
}
.single-pricing .price .currency {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: -17px;
}
.single-pricing .price span {
    display: inline-block;
    margin: 0 -2px;
}
.single-pricing .price .amount {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
}
.single-pricing .title {
  color: #333;
  font-size: 25px;
  font-weight: 600;
  margin: 45px 0 31px;
  text-transform: uppercase;
    position: relative;
}
.single-pricing .title::before {
  background: #333 none repeat scroll 0 0;
  bottom: -13px;
  content: "";
  height: 1px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transition: all 0.3s ease 0s;
  width: 46px;
}
.single-pricing .title::after {
  background: #333 none repeat scroll 0 0;
  bottom: -10px;
  content: "";
  height: 1px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transition: all 0.3s ease 0s;
  width: 29px;
}
.single-pricing .options li {
    color: #333;
    font-size: 17px;
    line-height: 36px;
}
.single-pricing > a {
    background-color: #333;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 25px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.single-pricing > a:hover::before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.single-pricing.active {
  background: #444444 none repeat scroll 0 0;
  z-index: 3;
}
.single-pricing.active .price {
  background-color: #444444 ;
    color: #fff;
}
.single-pricing.active .options li {
  color: #fff;
}
.single-pricing.active .title::before {
  background: #fff none repeat scroll 0 0;
}
.single-pricing.active .title::after {
  background: #fff none repeat scroll 0 0;
}
.single-pricing.active .title {
  color: #fff;
}
.single-pricing.active .title {
    transition: all 0.5s ease 0s;
}
.single-pricing.active > a {
    background-color: #fff;
    color: #333;
    transition: all 0.5s ease 0s;
}
.single-pricing > a:hover {
    color: #444;
}
/*----- 12. Contact ------*/

#map2 {
    height: 402px;
    width: 100%;
}
h3.main-contact {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.main-input input {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    height: 45px;
    padding-left: 20px;
}
.text-leave2 textarea {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #666;
    font-family: "Lato", sans-serif;
    height: 150px;
    margin-bottom: 30px;
    padding: 14px 20px;
}
.leave-form input:focus,
.main-input input:focus,
.text-leave textarea:focus,
.text-leave2 textarea:focus {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #f6f6f6;
}
button.submit {
    background-color: #444444 ;
    border: 1px solid #444444 ;
    color: #fff;
    font-size: 13px;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
button.submit:hover {
    background-color: transparent;
    color: #464646;
}
.contact-area-all {
    margin-top: 50px;
}
.contact_form input.error {
	background-image: url("img/icons/invalid.png");
	background-repeat: no-repeat;
	background-position: right;
}
.contact_form  input.valid {
	background-image: url("img/icons/valid.png");
	background-repeat: no-repeat;
	background-position: right;
}
/*............. 13. Shortcode   ................*/

.elements-tab-area .tab-list {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.elements-tab-area .tab-list li {
    display: block;
    float: left;
    margin-right: 15px;
}
.elements-tab-area .tab-list li.active a {
    background: #0151b0 none repeat scroll 0 0;
}
.elements-tab-area .tab-list li a {
    background: #303030 none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 42px;
    line-height: 44px;
    padding: 0 20px;
    text-transform: uppercase;
}
/*............. 14. Scrollup   ................*/

#toTop {
    text-align: center;
    bottom: 35px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 12px;
    z-index: 9999;
}
#toTop i {
    background-color: #464646;
    height: 40px;
    width: 40px;
    color: #fff;
    line-height: 40px;
}
#toTop i:hover {
    background-color: #666;
    color: #fff;
}



/*----------------------------------------*/
/*  15. Modal
/*----------------------------------------*/

.header-tab-menu {
    margin-bottom: 10px;
}
.header-tab-menu .nav-tabs {
    border: 0 none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.header-tab-menu .nav-tabs li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    float: left;
    margin: 0 51px 0 0;
    padding: 0;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}
.header-tab-menu .nav-tabs li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #444444 ;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0 0 6px;
    text-transform: capitalize;
}
.header-tab-menu .nav-tabs li.active a {
    color: #444
}
.modal-dialog button.close {
    background: #444444 none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    height: 28px;
    margin-top: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    position: absolute;
    right: -54px;
    text-align: center;
    text-transform: uppercase;
    top: -49px;
    width: 28px;
}
.modal-dialog button.close:after {
    display: none;
}
.modal .modal-header {
    border: 0 none;
    min-height: auto;
    padding: 0;
}
.modal {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999;
}
.modal-dialog {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    height: 370px;
    left: 0;
    margin: auto;
    padding: 37px 40px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    width: 440px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-color: transparent;
    background: transparent
}
.modal-content {
    border: 0 none;
    box-shadow: none;
    background: transparent;
}
.modal-dialog.register {
    height: 555px;
}
.modal-body {
    padding: 0;
}
.modal-body input {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    color: #666666;
    margin-bottom: 10px;
}
.modal-body input {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  color: #666666;
  margin-bottom: 10px;
}
.modal-body input::-moz-placeholder {
    color: #666666;
}
.modal-body form {
    margin-top: 25px;
}
.modal-body input[type="checkbox"] {
    height: 15px;
    margin: 0;
    position: relative;
    top: 1px;
    width: 17px;
}
.login-toggle-btn .default-btn {
    border-color: #444444 ;
}
.button-box .default-btn {
  background: #444444 none repeat scroll 0 0;
  border-color: #444444 ;
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
  padding: 8px 36px 10px;
  text-transform: capitalize;
  width: 100%;
}
.button-box .default-btn:hover {
    background: #ff3399 none repeat scroll 0 0;
    color: #f5f5f5;
}
.login-toggle-btn {
    padding-top: 26px;
}
.login-toggle-btn > a {
    color: #444444 ;
    float: right;
}
.login-toggle-btn > a:hover {
    color: #212121;
}
.modal-view.nav-btn {
  float: right;
  font-size: 20px;
}

.modal-view.nav-btn i{
  padding-right: 10px;
}

.slider-active .owl-nav {
  display: block;
}
.menu-style-modal-3.modal-view.nav-btn {
  margin-top: 29px;
}
.mfp-bg {
  z-index: 999999;
}
.mfp-wrap {
  z-index: 9999999;
}



















