/*............. Blog ................*/

.blog-meta-left > span {
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
}
.blog-info-top > h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 17px;
}
.blog-info-top > h3 a {
    color: #333;
    transition: all 0.3s ease 0s;
}
.blog-meta-left.meta-right a {
  color: #333;
}
.blog-meta-left.meta-right a:hover {
  color: #444444 ;
}
.blog-meta-left {
    display: inline-block;
}
.blog-meta-left.meta-right {
    float: right;
}
.blog-info-top > h3 a:hover {
    color: #444444 ;
}
.blog-meta-left > span i {
    margin-right: 5px;
    font-size: 14px;
}
.blog-info {
    border: 1px solid #ddd;
    padding: 30px;
}
.blog-active .col-md-4 {
    width: 100%;
}
.blog-active.owl-theme .owl-controls .owl-nav div {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #333;
    font-size: 25px;
    font-weight: 900;
    height: 40px;
    right: -50px;
    line-height: 38px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.8s ease 0s;
    width: 40px;
    text-align: center;
    color: #666;
    opacity: 0;
}
blog-active.owl-theme .owl-controls .owl-nav div:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #666;
}
.blog-active.owl-theme .owl-controls .owl-nav div.owl-prev {
    left: -50px;
    right: auto;
}
.blog-active:hover .owl-controls .owl-nav div {
    opacity: 1;
}
.blog-info-top {
    position: relative;
}
.blog-info-top > a {
    color: #333;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    text-transform: capitalize;
}
.blog-info-top > a:hover {
    color: #444444 ;
}
.blog-middel {
    margin-left: 24px;
}
.blog-text {
    position: relative;
}
.blog-img {
    position: relative;
}
.blog-view {
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease 0s;
    z-index: 999;
}
.blog-text:hover .blog-view {
    opacity: 1;
}
.blog-view a {
    background: #444;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    opacity: 0;
    position: absolute;
    text-align: center;
    transform: translateX(-50%) translateY(-50%) scale(0.6);
    transition: all 0.4s ease 0s;
    width: 45px;
}
.blog-text:hover .blog-view a {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}
.blog-view a:hover {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    color: #000;
}
.blog-img {
    display: block;
    position: relative;
}
.blog-img::before {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.4s ease-in-out 0s;
    z-index: 99;
}
.blog-text:hover .blog-img::before {
    opacity: 0.7;
}
.blog-img img {
    width: 100%;
}
.blog-full-4 .blog-middel {
    margin-left: 12px;
}
.blog-full-4 .blog-meta {
    padding: 10px 5px;
}
h3.leave-comment-text {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    position: relative;
    color: #333;
}
h3.leave-comment-text:before {
    position: absolute;
    height: 1px;
    width: 50%;
    left: 0;
    bottom: 0;
    content: "";
    background-color: #5b5b5b;
}
.blog-search input[type="text"] {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    color: #666666;
    height: 40px;
    line-height: 28.8px;
    margin: 0;
    outline: medium none;
    padding: 5px 15px;
    position: relative;
    transition: all 0.4s ease 0s;
    width: 100%;
}
.blog-search > form {
    position: relative;
}
.blog-search button.submit {
    background-color: #444444 ;
    border: 1px solid #444444 ;
    color: #fff;
    font-size: 13px;
    height: 40px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
}
.blog-search button.submit:hover {
    background-color: #666;
    border: 1px solid #666;
    color: #fff;
}
.recent-img-text {
    display: block;
    overflow: hidden;
}
.recent-img a img {
    display: inline-block;
    float: left;
}
.recent-text {
    float: left;
    padding-left: 15px;
    width: calc(100% - 80px);
}
.recent-text h4 {
  color: #333;
  font-size: 17px;
  margin-bottom: 2px;
  text-transform: capitalize;
    transition: all .3s ease 0s;
}
.recent-text h4 a{
  color: #333;
}
.recent-text h4 a:hover {
  color: #444444 ;
}
.blog-right-sidebar-top ul li {
    display: block;
}
.blog-right-sidebar-top ul li a {
    border-bottom: 1px solid #f1f1f1;
    color: #333;
    display: block;
    font-size: 14px;
    padding: 10px 0;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.blog-right-sidebar-top ul li a:hover {
    color: #444444 ;
}
.blog-right-sidebar-top ul li a span {
    float: right;
}
.blog-right-sidebar-top ul li a span {
    float: right;
}
.blog-right-sidebar-bottom ul li {
    display: inline-block;
}
.blog-right-sidebar-bottom ul li a {
    border: 1px solid #ddd;
    color: #333;
    display: block;
    margin: 0 10px 10px 0;
    padding: 10px 14px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.blog-right-sidebar-bottom ul li a:hover {
    border: 1px solid #444444 ;
    color: #fff;
    background-color: #444444 ;
}
.page {
    display: inline-block;
    text-align: center;
}
.page li {
    float: left;
    margin-right: 15px;
}
.page a {
    border: 1px solid #c1c1c1;
    display: inline-block;
    height: 40px;
    line-height: 37px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 40px;
    border-radius: 0 5px;
}
.page a:hover,
.page li.active a {
    background-color: #444444 ;
    border: 1px solid #444444 ;
    color: #fff;
}
/*............. 8. Blog details ................*/

.blog-all-details .blog-meta {
    overflow: hidden;
    padding: 10px 0;
}
.blog-all-details .blog-meta {
    border-top: none;
}
.blog-all-details .blog-meta-left.meta-right,
.blog-all-details .blog-meta-left {
    float: left;
}
.blog-all-details .blog-meta-left.meta-right {
    margin-left: 24px;
}
.mt-20.mb-20 > li {
    font-size: 15px;
    text-transform: capitalize;
}
.news-allreply {
    display: inline-block;
    float: left;
}
.blog-title-1 {
    display: inline-block;
    float: left;
}
.nes-icon {
    float: right;
}
.blog-title {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
}
.blog-img-details {
    padding-left: 100px;
}
.blog-title-1 > h3 {
    font-size: 18px;
    margin-bottom: 3px;
    text-transform: capitalize;
}
.blog-title-1 > span {
    text-transform: capitalize;
}
.blog-top.margin-middle {
    margin-left: 100px;
}
.leave-form input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #c1c1c1;
    color: #666666;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    height: 35px;
    margin-bottom: 30px;
    padding: 0 20px;
}
.text-leave textarea {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #c1c1c1;
    color: #666666;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    height: 165px;
    margin-bottom: 30px;
    padding: 20px;
}
.blog-middel {
    display: none;
}