.footer-icon {
    float: right;
}
.footer-icon li {
    display: inline-block;
    margin-left: 15px;
}
.footer-icon a {
    border: 1px solid #333;
    color: #333;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    background-color: transparent;
    transition: all .3s ease 0s;
}
.footer-icon a:hover {
    border: 1px solid #fff;
    color: #333;
    background-color: #fff;
}
.copyright > p {
    margin-bottom: 0;
    margin-top: 2px;
}
/*------    footer 2  ----*/

.footer-2-logo {
    text-align: center;
}
.footer-2-menu li {
    display: inline-block;
    margin: 0 10px;
}
.footer-2-menu a {
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
.logo-2 a {
    color: #444444 ;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.footer-2-menu {
    display: block;
    margin-bottom: 20px;
    padding: 20px 0;
    position: relative;
}
.footer-2-menu::before {
    background-color: #333;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 175px;
}
.footer-2-address {
    float: right;
    padding-top: 52px;
}
.footer-2-address li {
    font-size: 15px;
    margin-bottom: 5px;
}
.footer-2-address li span {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}
.footer-2-address li {
    font-size: 15px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.footer-2-ex {
    padding-top: 53px;
}
.footer-2-ex > h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 18px;
}
.footer-icon.footer-2 {
    float: left;
}
.footer-icon.footer-2 li {
    margin-right: 15px;
    margin-left: 0;
}
/*------    footer 3  ----*/

.footer-2-address.footer-3 {
    float: inherit;
    padding-top: 20px;
}
/*------    footer 4  ----*/

.footer-address {
    border-bottom: 1px solid #ddd;
    padding: 30px 0 30px;
}
.footer-top-info ul li {
    color: #333;
    display: inline-block;
    padding-right: 35px;
}
.footer-top-info ul li i {
    color: #333;
    padding-right: 10px;
}
.footer-text-4 {
    padding-top: 30px;
}
.social-icon-4 {
    margin-bottom: 23px;
}
.footer-text-4 .social-icon-4 a {
    border: 1px solid #333;
    color: #333;
    display: inline-block;
    height: 30px;
    line-height: 27px;
    margin: 0 5px;
    width: 30px;
}
.footer-text-4 .social-icon-4 a i {
    display: block;
    font-size: 14px;
    line-height: 28px;
}
.footer-text-4 .social-icon-4 a:hover {
    background-color: #444444 ;
    color: #fff;
    border: 1px solid #444444 ;
}
.social-icon-4.social-icon-5 {
    margin-bottom: 10px;
}
.footer-text-4.footer-text-5 {
    padding-top: 20px;
}
.demo-content.demo-border {
    border-top: 1px solid #ddd;
}


.copyright a , .footer-2-logo p a , .footer-text-4 p a {
  color: #444444 ;
}

.copyright a:hover , .footer-2-logo p a:hover , .footer-text-4 p a:hover {
  text-decoration: underline;
}






















