.portfolio-menu button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 15px;
    padding: 0;
    position: relative;
    text-transform: uppercase;
}
.portfolio-menu button::before {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  bottom: -8px;
  content: "";
  height: 2px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: all 0.3s ease 0s;
  width: 100%;
}
.portfolio-menu button:hover::before,
.portfolio-menu button.active::before {
    transform: scaleX(1);
}
.hover-style1,
.portfolio {
    display: block;
    position: relative;
}
.portfolio-img img {
    width: 100%;
}
.hover-style1 > .portfolio-img::before {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0px;
    content: "";
    left: 0px;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    transform: scale(0.1);
    transition: all 0.4s ease 0s;
}
.hover-style1:hover .portfolio-img::before {
    opacity: 0.8;
    transform: scale(1);
}
.portfolio-img {
    position: relative;
}
.portfolio-view a {
    background: #000;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    height: 46px;
    line-height: 46px;
    opacity: 0;
    position: absolute;
    text-align: center;
    transform: translateX(-50%) translateY(-50%) scale(0.6);
    transition: all 0.4s ease 0s;
    width: 46px;
}
.portfolio-view a:hover {
    background: #444;
    color: #ccc;
}
.portfolio:hover .portfolio-view a {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}
.portfolio-view {
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease 0s;
}
.portfolio:hover .portfolio-view {
    opacity: 1;
}
.portfolio-title {
    bottom: 20px;
    left: 20px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    z-index: 2;
}
.portfolio:hover .portfolio-title {
    opacity: 1;
}
.title-style-1 h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    transform: scale(0.6);
    transition: all 0.4s ease-in-out 0s;
}
.title-style-1 h3 a {
    color: #fff;
}
.title-style-1 h3 a:hover{
    color: #ddd;
}
.portfolio:hover .title-style-1 h3,
.portfolio:hover .title-style-1 span {
    transform: scale(1);
}
.title-style-1 span {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    line-height: 16px;
    transform: scale(0.6);
    transition: all 0.4s ease-in-out 0s;
    text-transform: capitalize;
}
.view-more > a {
    background-color: #333;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 25px;
    padding: 10px 20px;
    text-transform: capitalize;
}
.view-more > a i {
    padding-left: 5px;
}
.view-more > a:hover::before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/*------    portfolio 2  ----*/

.portfolio-title-2 {
    border: 1px solid #ddd;
    padding: 20px;
}
.title-color-2 h3 {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
.title-color-2 h3 a{
    color: #333;
}
.title-color-2 h3 a:hover{
    color: #777;
}
.title-color-2 span {
    color: #333;
    display: inline-block;
    font-size: 15px;
    line-height: 16px;
    text-transform: capitalize;
}
/*------    portfolio 3  ----*/

.portfolio-style-3 .portfolio-title {
    bottom: 35px;
    left: 35px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    z-index: 2;
}
.portfolio-style-3 .hover-style1 > .portfolio-img::before {
    background: rgba(0, 0, 0, 0.8);
    bottom: 15px;
    content: "";
    left: 15px;
    opacity: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all 0.4s ease-in-out 0s;
}
.portfolio-style-3 .hover-style1:hover .portfolio-img::before {
    opacity: 0.8;
}
/*------    portfolio 5  ----*/

.portfolio-style-5 .col-md-4.col-sm-6.col-xs-12,
.portfolio-style-5 .col-md-3.col-sm-6.col-xs-12,
.portfolio-style-5 .col-md-6.col-sm-6.col-xs-12,
.portfolio-style-5 .col-md-2.col-sm-6.col-xs-12 {
    padding: 0;
}
/*------    portfolio 8  ----*/

.portfolio-area.p-style-8 {
    border-top: 1px solid #ddd;
}
.hover-style9 .portfolio-img::before {
    background: rgba(0, 0, 0, 0.8);
    content: "";
    height: 0;
    left: 0px;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    transition: all 0.6s ease 0s;
    width: 100%;
}
.hover-style9:hover .portfolio-img::before {
    height: 100%;
    transition: all 0.6s ease 0s;
}
.pro-style-8 {
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease 0s;
}
.portfolio:hover .pro-style-8 {
    opacity: 1;
}
.pro-style-8.title-color-2 h3 {
    color: #fff;
    transition: all 0.4s ease-in-out 0s;
    transform: scale(0.6);
}
.pro-style-8.title-color-2 h3 a{
    color: #fff;
}
.pro-style-8.title-color-2 h3 a:hover{
    color: #ddd;
}
.pro-style-8.title-color-2 span {
    color: #fff;
    transition: all 0.4s ease-in-out 0s;
    transform: scale(0.6);
}
.portfolio:hover .pro-style-8.title-color-2 h3,
.portfolio:hover .pro-style-8.title-color-2 span {
    transform: scale(1);
}
/*------  single portfolio  ----*/

h3.desc {
    color: #333;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    position: relative;
    text-transform: capitalize;
}
h3.desc::before {
    background-color: #5b5b5b;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 50%;
}
.post-share li {
    float: left;
    margin-right: 18px;
}
.post-share li a {
    display: block;
    font-size: 16px;
}
.post-share ul {
    overflow: hidden;
    padding: 20px 0 0;
}
.portfolio-meta ul li {
    color: #666;
    padding: 0px 0px 15px;
}
.portfolio-meta ul > li i {
    color: #444;
    font-size: 16px;
    line-height: normal;
    margin-right: 20px;
}
.portfolio-meta ul li span {
    color: #444;
    font-weight: 400;
    margin-right: 5px;
    font-size: 16px;
    text-transform: capitalize;
}
.portfolio-pre-next li {
    display: inline-block;
    margin: 0 30px;
}
.portfolio-pre-next a {
    font-size: 15px;
    text-transform: capitalize;
}
.portfolio-pre-next a.next-pro {
    font-weight: bold;
}
.portfolio-pre-next ul {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
    padding: 10px 0;
}